<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!k8s">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <logLevel/>
                    <loggerName/>
                    <message/>
                    <mdc/>
                    <arguments/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="k8s">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <logLevel/>
                    <loggerName/>
                    <message/>
                    <mdc/>
                    <arguments/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- Service-specific loggers -->
    <logger name="com.banking.auth" level="DEBUG"/>
    <logger name="com.banking.account" level="DEBUG"/>
    <logger name="com.banking.audit" level="DEBUG"/>
    <logger name="com.banking.balance" level="DEBUG"/>
    <logger name="com.banking.deposit" level="DEBUG"/>
    <logger name="com.banking.notification" level="DEBUG"/>
    <logger name="com.banking.transfer" level="DEBUG"/>
    <logger name="com.banking.withdrawal" level="DEBUG"/>
    <logger name="com.banking.gateway" level="DEBUG"/>
</configuration>
